body{
    font-family: 'Nunito Sans', sans-serif;
}

.header{
    display: block;
    width: 100%;
}
.back_img{
    display: block;
    width: 100%;
    height: 500px;
    background-image: url(img/dev.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: 2;
}
nav{ 
    display: inline-flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: white; 
    height: 50px;
    z-index: 4;
}
body{
    background-color: #EDEFF5;
    margin: 0;
}
.body{
    display: inline-flex;
    flex-flow: wrap column;
    margin-right: 5%;
    margin-left: 5%;
}
h1{
  background-color: rgba(0,0,0,0.8);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 25%;
  left: 33%;
  width: 30%;
  height: 100px;
  padding: 20px;
  text-align: center;
  z-index: 3;
  user-select: none;

}
h2{
    display: inline-flex;
    width: 100%;
    font-size: 40px;
    margin-bottom: 10px;
    align-items: flex-start;
}
#info{
    padding-top: 50px;
}
.barre{
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    width: 50px;
    height: 7px;
    background: red;
}
.apropos{
    display: inline-flex;
    flex-basis: 100%;
}
.presentation{
    display: inline-flex;
    flex-basis: 80%;
    flex-flow: wrap column;
    padding-left: 20%;
}
.slides{
    display: inline-flex;
    flex-basis: 100%;
    padding-top: 50px;
    flex-flow: wrap;
    align-content: start;
    justify-content: space-between;
    justify-content: center;
}
#bac, #licence, #pro{
    display: inline-flex;
    width: 25%;
    flex-flow: wrap column;
    text-align: center;
}
.slide_container{
    display: inline-flex;
    width: 11%;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50px;
    bottom: -50px;
}
.prev, .next{
    display: inline-flex;
    align-self: center;
    flex-basis: 5%;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    border-radius: 3px 3px 3px 3px;
    user-select: none;
}
.prev:hover, .next:hover {
    background-color: rgba(175, 171, 171, 0.829);
}
.compt{
    display: inline-flex;
    flex-flow: wrap;
    flex-basis: 100%;
    margin-left: 8%;
}
#head_compt{
    padding-top: 50px;
}
#compt1{
    height: 250px;
    width: 250px;
    background-color: #BBC8DD;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#compt2{
    height: 200px;
    width: 200px;
    background-color: #5D769D;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 80px;
    left:-50px
}
#compt3{
    height: 100px;
    width: 100px;
    background-color: #8DA0BF;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30px;
    left: -100px;
    z-index: 3;
}
#compt4{
    height: 180px;
    width: 180px;
    background-color: #BBC8DD;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 80px;
    left: -140px;
    z-index: 2;
}
#compt5{
    height: 80px;
    width: 80px;
    background-color: #8DA0BF;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
    left: -180px;
    z-index: 5;
}
#compt6{
    height: 200px;
    width: 200px;
    background-color: #BBC8DD;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
    left: -200px;
}
#compt7{
    height: 100px;
    width: 100px;
    background-color: #5D769D;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30px;
    left: -230px;
    z-index: 6;
}
nav>a:hover{
    background-color: rgba(175, 171, 171, 0.829);
    display: inline-flex;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 3px 3px 3px 3px;
    user-select: none;
}
a{
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.contact {
    display: none;
    position: fixed; 
    z-index: 100; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
}
.contact-content {
    background-color: #5D769D;
    margin: auto;
    border: 1px solid #888;
    width: 70%;
    padding-bottom: 10px;
  }
  .close {
    display: inline-flex;
    justify-content: flex-end;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .contact_container{
      display: inline-flex;
      flex-flow: wrap;
      width : 100%;
      justify-content: space-around;
  }
  #message {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
  .contact_info{
    display: inline-flex;
    text-align: center;
    justify-content: flex-start;
    align-self: center;
    flex-flow: wrap column;
    width: 50%;
  }
  input[type=submit] {
    background-color: white;
    color: Black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  input[type=text]{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
#flip>span{
    display: inline-flex;
    font-size: 10px;
    align-self: flex-end;
}
#flip>div{
    font-size: 20px;
    color: white;
    width: 95%;
    text-align: center;
}
#flip{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}
.footer{
    display: inline-flex;
    height: 250px;
    background-color: #5D769D;
    margin-top: 7%;
    width: 100%;
    flex-flow: wrap column;
    justify-content: flex-start;
    align-content: center;
}
#pdf{
    border: 3px solid #f1f1f1;
    text-align: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.icons{
    width: 30%;
    justify-content: center;
}
i{
    cursor: pointer;
    font-size:50px;
    color:#ccc;
    flex-basis: 50%;
}
.footer>a:hover:not(#mentions){
    background-color: rgba(175, 171, 171, 0.829);
    display: inline-flex;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 3px 3px 3px 3px;
    user-select: none;
}
#mentions{
    width: 10%;
    align-self: center;
    height: 10px;
    font-size: 12px;
    text-align: center;
    justify-content: flex-end;
}
#mentions:hover{
    font-size: 15px;
}

