body{
    font-family: 'Nunito Sans', sans-serif;
}

.header{
    display: block;
    width: 100%;
}
.back_img{
    display: block;
    width: 100%;
    height: 500px;
    background-image: url(img/dev.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: 2;
}
nav{ 
    display: inline-flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: white; 
    height: 50px;
    z-index: 4;
}
body{
    background-color: #EDEFF5;
    margin: 0;
}
.body{
    display: inline-flex;
    flex-flow: wrap column;
    margin-right: 10%;
    margin-left: 10%;
}
h1{
  background-color: rgba(0,0,0,0.8);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 25%;
  left: 33%;
  width: 30%;
  padding: 20px;
  text-align: center;
  z-index: 3;
}
#info, h2{
    display: block;
    width: 100%;
    padding-top: 50px;
    font-size: 40px;
    margin-bottom: 10px;
}
.barre{
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    width: 50px;
    height: 7px;
    background: red;
}
.apropos{
    display: inline-flex;
    flex-basis: 100%;
}
.presentation{
    display: inline-flex;
    flex-basis: 80%;
    flex-flow: wrap column;
    padding-left: 20%;
}
.education{
    display: inline-flex;
    flex-basis: 100%;
    flex-flow: wrap;
    justify-content: space-between;
}
#bac, #licence, #pro{
    display: inline-flex;
    width: 30%;
    flex-flow: wrap column;
    text-align: center;
}
.slide_container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3%;
}
.prev, .next{
    display: inline-flex;
    align-self: center;
    flex-basis: 70%;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    border-radius: 3px 3px 3px 3px;
    user-select: none;
}
.prev:hover, .next:hover {
    background-color: rgba(175, 171, 171, 0.829);
}

